// ...
@import "../../styles/variable.scss";
.library {
  .menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 240px;
    background-color: $black5-color;
    border-right: 2px solid $black3-color;
    .logo {
      width: 120px;
      height: 40px;
      border-radius: 10px;
      margin-top: 10px;
      margin-left: 10px;
      overflow: hidden;
      img {
        width: 120px;
        height: 40px;
      }
    }
    ul {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      li {
        position: relative;
        width: 100%;
        list-style: none;
        a {
          position: relative;
          display: flex;
          width: 100%;
          text-decoration: none;
          color: $white-color;
          font-weight: 500;
          padding: 0 10px;
          .icon {
            position: relative;
            display: block;
            min-width: 60px;
            height: 60px;
            line-height: 70px;
            text-align: center;
            i {
              font-size: 1.5em;
            }
          }
          .title {
            position: relative;
            display: block;
            padding: 0 10px;
            height: 60px;
            line-height: 60px;
            text-align: start;
            white-space: nowrap;
          }
        }
      }
      li:hover {
        background-color: #333;
      }
      li:last-child {
        margin-top: 20px;
        border-top: 2px solid $black3-color;
      }
    }
  }
  .videos {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}
