$black-color: #212121;
$white-color: #fff;
$white1-color: #eaeef0;
$grey-color: #c2bdbd;
$grey1-color: #888;
$grey2-color: #303030;
$black1-color: #181818;
$black2-color: #121212;
$black3-color: #313131;
$black4-color: #6d6a6a;
$black5-color: #212121;
$blue1-color: #3c9ff3;
$blue2-color: #388ed7;
$blue3-color: #6990f2;
