@import "../../styles/variable.scss";
.home {
  position: relative;
  top: 60px;
  .layout {
    display: grid;
    grid-gap: 25px 20px;
    padding: 20px;
    padding-top: 80px;
    grid-template-columns: repeat(4, 1fr);
  }

  .layout-item {
    display: flex;
    flex-direction: column;
    .layout-img-container {
      position: relative;
      overflow: hidden;
      .layout-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 2px;
        flex-shrink: 0;
        transition: 2s;
      }
      h2 {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        background-color: #fff;
        color: #262626;
        transform-origin: bottom;
        transition: 0.5s;
        transform: perspective(500px) rotateX(90deg);
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 170%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 1;
        transform: skew(45deg);
        transition: 0.8s;
      }
      &:hover {
        .layout-img {
          transform: scale(1.2);
        }
        h2 {
          transform: perspective(500px) rotateX(0deg);
        }
        &::before {
          transition-delay: 0.5s;
          left: -170%;
        }
      }
    }
    .layout-content {
      font-weight: 300;
      padding: 10px;
      /* background-color: #888888; */
      flex: 1;
      display: flex;
      // justify-content: space-between;
      .layout-content_img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .layout-content_inf {
        flex: 1;
        .layout-content_title {
          font-size: 18px;
          font-weight: 400;
          color: #fff;
        }
        .layout-content_descript {
          color: #888;
        }
        .layout-content_footer {
          display: flex;
          justify-content: space-between;

          .layout-content_autname {
            color: #888;
            font-weight: 200;
            cursor: pointer;
          }
          .layout-content_time {
            color: #888;
          }
          .layout-control {
            display: none;
            color: #fff;
            cursor: pointer;
            position: relative;
            padding-left: 10px;
            .videos-control__menu {
              position: absolute;
              top: 24px;
              right: -10px;
              width: 150px;
              margin-top: 4px;
              background-color: #333;
              z-index: 1;
              .menu-item {
                color: #fff;
                width: 150px;
                padding: 8px 36px 8px 16px;
                cursor: pointer;
                .menu-icon {
                  font-size: 20px;
                  margin-right: 16px;
                }
                .menu-title {
                  font-size: 14px;
                  font-weight: 500;
                }
                &:hover {
                  background-color: $black4-color;
                }
              }
            }
          }
        }
      }
      &:hover {
        .layout-control {
          display: block !important;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .home {
    .layout {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 748px) {
  .home {
    .layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 570px) {
  .home {
    .layout {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
