@import "../../styles/variable.scss";

.contact-form { 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    form { 
        display: flex;
        // align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        // .message { 
        //     height: 300px;
        // }
        h2 { 
            text-align: center;
            padding-top: 40px;
            padding-bottom: 15px;
        }
        input,textarea { 
            padding: 8px 16px; 
            width: 300px;
            border-radius: 5px;
            text-decoration: none;
            border: 1px solid #ccc; 
            margin-top: 30px;
            &:focus { 
                border: 1px solid $black-color;
            }
        }
        textarea { 
            resize: none;
        }
        button { 
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
            width: fit-content;
            padding: 12px 20px; 
            border: 1px solid #ccc; 
            border-radius: 5px;
            margin: auto;
            &:hover { 
                cursor: pointer;
                background-color: $black-color;
                color: white;
                border: solid #000 1px;
            }
        }
    }
}