@import "../../styles/variable.scss";

.slick-nav {
  position: fixed;
  height: 60px;
  border-top: 1px solid $grey-color;
  border-bottom: 1px solid $grey-color;
  background-color: $black3-color;
  // overflow: hidden;
  z-index: 1;
  // overflow-x: scroll;
  // overflow-y: hidden;
  .slick-track {
    padding: 8px 0 !important;
  }
  .slick-nav-item {
    width: fit-content;
    padding: 9px 0;
    // display: flex;
    // justify-content: center;
    margin: 0 8px;
  }
}
