@import "../../styles/variable.scss";
.primary-video {
  width: 100%;
  height: 70vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 42px;
    height: 42px;
    background-color: transparent;
    cursor: not-allowed;
  }
  .primary-video__d {
    width: 100%;
    height: 100%;
    border: none;
  }
}
.primary-video_inf {
  border-bottom: 2px solid $black3-color;
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 12px 0;
  }
  .primary-video_control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    time {
      color: $grey1-color;
      font-weight: 200;
    }
    .primary-video_icon {
      display: flex;
      .primary-video_icon-item {
        margin: 0 16px;
        cursor: pointer;
        i {
          font-size: 20px;
          margin-right: 6px;
        }
      }
      .like-btn.like,
      .dislike-btn.dislike {
        color: #007bff;
        i {
          font-weight: bold;
        }
      }
    }
  }
}
.primary-video_author {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  .primary-video_author__inf {
    display: flex;
    .primary-video_author__img {
      width: 50px;
      height: 50px;
      margin-right: 16px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    small {
      color: $grey1-color;
    }
  }
  .btn {
    padding: 6px;
    .scr-btn {
      height: 40px;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 530;
      background-color: #cc0000;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 2px;
    }
  }
}
.primary-descript {
  padding: 0 0 16px 66px;
  border-bottom: 2px solid $black3-color;
  pre {
    max-width: 100%;
    font-size: 16px;
  }
}
